/* Responsive Styles */

/* For tablets (widths between 600px and 900px) */
@media (max-width: 900px) and (min-width: 600px) {
    .container, .about-container, .port-container {
      flex-direction: column;
      align-items: center;
      margin: 0;
    }
  
    .about-col-1 img, .image-about {
      width: 90%;
      margin: 0 auto;
    }
  
    .about-col-2 {
      max-width: 90%;
      margin: 0 auto;
    }
  }
  
  